body {
  font-family: 'Open Sans', sans-serif;
}

.locals-navbar {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 42px;
  padding-right: 21px;
  position: absolute;
  top: 0;
  width: 100%;
}
.brand a {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 60px;
  text-decoration: none;
}
.brand-locals {
  color: #f73f62;
}
.navbar-link {
  color: #fff;
  float: right;
  line-height: 60px;
  padding: 0 21px;
  display: none;
}
@media (min-width: 400px) {
  .navbar-link {
    display: block;
  }
}

.hero {
  background-color: #999;
  padding: 235px 42px 175px 42px;
}
.hero-subheader {
  font-size: 24px;
  color: #fff;
}
@media (min-width: 546px) {
  .hero-subheader {
    width: 482px;
  }
}
.hero-header {
  margin-top: 13px;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}
@media (min-width: 420px) {
  .hero-header {
    width: 336px;
  }
}
.cta {
  width: 242px;
  height: 46px;
  border-radius: 4px;
  background-color: #f73f62;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
  border: none;
  color: #fff;
  font-size: 18px;
  outline: none;
  margin-top: 17px;
}

.hiw {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding: 0 42px;
}
@media (min-width: 768px) {
  .hiw {
    padding: 0 141px;
  }
}
.hiw-header {
  font-size: 36px;
  text-align: center;
  margin-top: 80px;
}
.hiw-subheader {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
}
.hiw-steps {
  margin-top: 45px;
  padding-bottom: 52px;
}
.hiw-step-col {
  margin-bottom: 30px;
}
.hiw i {
  width: 100%;
  text-align: center;
  color: #506ac5;
  font-size: 64px;
}
.hiw-step-text {
  width: 220px;
  margin: 0 auto;
  text-align: center;
  margin-top: 38px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.55);
}

.testimonials {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding: 0 42px;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .testimonials {
    padding-left: 141px;
    padding-right: 141px;
  }
}
.quote-symbol {
  margin-top: 65px;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color: #506ac5;
}
.quote {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
}
.user {
  width: 250px;
  margin-left: -7px;
  margin-top:50px;
}
@media (min-width: 350px) {
  .user {
    width: 266px;
    margin-left: auto;
    margin-right: auto;
  }
}
.user-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.user-info {
  float: right;
  margin-top: 15px;
}
.user-location {
  color: rgba(0, 0, 0, 0.55);
}
.user-name {
  font-size: 18px;
  font-weight: bold;
}

.locals {
  padding: 0 42px;
  padding-bottom: 45px;
}
@media (min-width: 768px) {
  .locals {
    padding-left: 141px;
    padding-right: 141px;
  }
}
.locals-subheader {
  margin-top: 79px;
  font-size: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.55);
}
.locals-header {
  margin-top: 18px;
  font-size: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}
.local-profiles {
  margin-top: 20px;
}
.local-profile {
  margin-top: 30px;
}
.local-img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.local-name {
  margin-top: 22px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
}
.local-categories {
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
}

.footer {
  background-color: #323940;
  padding: 15px 42px;
  color: rgba(255, 255, 255, 0.4);
}
@media (min-width: 768px) {
  .footer {
    height: 56px;
    line-height: 56px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
