.number-form-container {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}

.error {
  border: 2px solid red;
}
.selected {
  background-color: #aaa;
}
.category-box {
  display: none;
}
.visible {
  display: block;
}
.no-scroll {
  overflow: hidden;
}
